@import '../../themes/colorVariables.css';

.closable-icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  height: 25px;
  padding: 0;
  background: var(--app-red-bg);
  border: none;
  border-radius: 50%;
  font-size: 15px;
  color: #ffffff;
  line-height: 1;

  &:hover {
    background: var(--app-f5222d);
    color: #999999;
  }
}

.image-viewport {
  position: relative;
  width: fit-content;
  margin-right: 50px;
  align-self: center;

  .closable-icon {
    top: -12px;
    right: -12px;
  }

  .banner-image {
    margin: 0;
    font-size: 3em;
    text-align: center;
  }
}
