@import "../../themes/colorVariables.css";

.shop-product-content-div{
    /* background-color: turquoise; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    
}

@media (max-width: 767px) {
    .shop-product-content-div{
        justify-content: center;
    }
    
}