@import "../../themes/colorVariables.css";

.shop-product-content-div{
    /* background-color: turquoise; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    
}
.width-95{
    display: flex;
    width: 95%
}

.width-5{
    display: flex;
    width: 5%;
    align-items: center;
    justify-content: center
}
.shop-filter-select .ant-select-selection{
    border: 1px solid var(--app-d9d9d9) !important;
    width: 160px !important;
    min-height: 40px !important;
    box-shadow: 0px 8px 16px 0 rgba(27, 27, 52, 0.06);
    background-color: var(--app-white);
  }

.remove-cross-img-div{
    display: flex;
    align-items: flex-end;
    padding-bottom: 21px;
    justify-content: center;
}

@media (max-width: 767px) {
    .shop-product-content-div{
        justify-content: center;
    }
    
}