@import "../../themes/colorVariables.css";

.shop-product-content-div{
    /* background-color: turquoise; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    
}
.width-95{
    display: flex;
    width: 95%
}

.width-5{
    display: flex;
    width: 5%;
    align-items: center;
    justify-content: center
}
.shop-filter-select .ant-select-selection{
    border: 1px solid var(--app-d9d9d9) !important;
    width: 160px !important;
    min-height: 40px !important;
    box-shadow: 0px 8px 16px 0 rgba(27, 27, 52, 0.06);
    background-color: var(--app-white);
  }

.remove-cross-img-div{
    display: flex;
    justify-content: center;
    padding-top: 21px;
}

.red-remove-cross-img-div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 42px;
}

.dragDropCenter {
    margin-top: 10px;
    min-height: 100px;
    color: #ddd;
    border: 1px dashed lightgray;
    width: 100%;
    display: flex;
    justify-content: center;
}

.dragDropLeft {
    margin-top: 10px;
    min-height: 100px;
    padding: 10px;
    color: #ddd;
    border: 1px dashed lightgray;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.dragging {
    background-color: lightgray;
    color: lightsteelblue;
}

.flexWrap {
    display: flex;
    flex-wrap: wrap;
}

.header-transaparent{
    background-color: transparent;
    display: flex;
    align-items: center;
}

.shop-type-select{
    width: 100%;
    padding-right: 1px;
    min-width: 182px;
}

.shop-decription-editor-main-div{
    border: 1px solid rgb(212, 212, 212);
}

.order-summ-drop-down-padding {
    padding-left: 1.4%;
    padding-right: 1.8%;
}

.shop-decription-editor-main-div{
    border-radius: 4px;
}
.dragDropLeft {
    border-radius: 4px;
    padding-bottom: 18px;
    margin-bottom: 10px;


}
.livescore-editor-news:hover{
    border-radius: 4px;

}

.notranslate.public-DraftEditor-content {
    color: #000;
}

.order-details-desc-text{
    font-size: 13px;
    color: var(--app-4c4c6d);
    font-weight: 500;
    font-family: inter-medium;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.54;
    letter-spacing: normal;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.order-details-product-image{
    height: 120px;
    width: 120px;
    object-fit: contain;
}


@media (max-width: 767px) {
    .shop-product-content-div{
        justify-content: center;
    }
    .shop-add-product-btn-div{
        margin-right: 25px;
    }
    .remove-cross-img-div{
        padding-bottom: 21px;
    }
    .order-details-product-image{
        height: 70px;
        width: 70px;
    }

}
@media only screen and (max-width: 991px) and (min-width: 600px) {
   .order-summary-dropdown-view .reg-col {
        flex: 0 0 50%;
        max-width: 50%;
    }
} 



