.live-score-match-sheet-modal {
  display: flex;
  height: 80vh;
}

.live-score-match-sheet-modal .ant-btn-primary {
  background-color: var(--app-color);
  border-color: var(--app-color);
}

.live-score-match-sheet-modal .ant-modal-content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.live-score-match-sheet-modal .ant-modal-content .ant-modal-body {
  flex: 1;
}

.live-score-match-sheet-modal .ant-modal-content .ant-modal-body iframe {
  width: 100%;
  height: 100%;
}

@media (max-width: 767px) {
  .live-score-match-sheet-modal .ant-modal-footer {
    text-align: center;
  }
}
