@import '../../themes/colorVariables.css';

.paddingBottom56px {
  padding-bottom: 56px;
}

.goBtn {
  margin-bottom: 2px;
}

.paddingBottom80px {
  padding-bottom: 80px;
}

.formLineHeight .ant-form-item-control {
  line-height: 10px;
}

.multiDrawRow {
  width: 100%;
  margin-right: 0;
  margin-left: 0;
}

.multiDrawLeftView {
  width: 20%;
  padding-left: 0;
}

.multiDrawRightView {
  width: 80%;
  padding-right: 0;
}

.requiredSpan {
  content: '*';
  color: var(--app-red);
  margin-top: -5px;
}

.checkbox-row-wise {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  overflow-x: auto;
  overflow-y: hidden;
}

.transfer-image-view {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.comp-ladder-recalculate {
  color: var(--app-1b1b34);
  font-weight: 500;
  font-family: inter-medium, sans-serif;
  margin-left: 15px;
}

.comp-buttons-view {
  text-align: right;
}

.comp-finals-button-view {
  display: flex;
  justify-content: flex-end;
}

.comp-open-single-checkbox {
  display: flex;
  align-items: center;
  color: var(--app-1b1b34);
  font-weight: 500;
  font-family: inter-medium, sans-serif;
}

.comp-open-reg-check-inpt-view {
  padding-top: 5px;
  padding-left: 25px;
}

.advan-setting-single-checkbox {
  margin-top: 15px;
  color: var(--app-1b1b34);
  font-weight: 500;
  font-family: inter, sans-serif;
}

.comp-player-grades-header-view {
  margin-top: 28px;
  background-color: transparent;
}

.comp-player-grades-header-view-design {
  margin-top: 28px;
  padding-left: 22px;
  padding-right: 22px;
}

.comp-player-grades-header-drop-down-view {
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 20px;
}

.comp-player-table-tag {
  background-color: var(--app-color);
  color: var(--app-white);
  font-family: inter-semi-bold, sans-serif;
  font-weight: 600;
  font-size: 10px;
  height: 24px;
}

.input-inside-player-grades-table {
  height: 40px;
  width: 74px;
  color: var(--app-1b1b34);
  font-family: inter, sans-serif;
  font-weight: normal;
  padding-right: 0;
}

.input-inside-player-grades-table-for-grade {
  height: 40px;
  width: 57px;
  color: var(--app-1b1b34);
  font-family: inter, sans-serif;
  font-weight: normal;
  padding-right: 0;
}

.input-inside-player-grades-table-comments {
  height: 40px;
  width: 90px;
  color: var(--app-1b1b34);
  font-family: inter, sans-serif;
  font-weight: normal;
  padding-right: 0;
}

.comp-player-grades-footer-view {
  padding-left: 12.5%;
  padding-bottom: 5%;
  padding-top: 10px;
}

.select-inside-team-grades-table .ant-select-selection {
  width: 80px;
  height: 40px;
  color: var(--app-1b1b34);
  font-family: inter, sans-serif;
  font-weight: normal;
}

.select-inside-team-grades-table .ant-select-selection .ant-select-arrow {
  right: 3.5px;
}

.select-inside-team-grades-table .ant-select-selection .ant-select-selection__rendered {
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 56px;
  overflow: hidden;
}

.input-inside-team-grades-table {
  height: 40px;
  min-width: 100px;
  color: var(--app-1b1b34);
  font-family: inter, sans-serif;
  font-weight: normal;
  padding-right: 0;
}

.comp-venue-courts-header-view {
  height: 44px;
  background-color: transparent;
  padding-left: 15%;
  padding-right: 15%;
  margin-top: 2%;
  margin-bottom: 1%;
}

.comp-venue-courts-dropdown-view {
  padding-left: 15%;
  padding-right: 15%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.input-inside-table-venue-court {
  height: 44px;
  font-size: 13px;
  color: var(--app-1b1b34);
  font-family: inter, sans-serif;
  font-weight: normal;
  padding-right: 0;
}

.comp-replicate-single-checkbox {
  margin-top: 19px;
  display: flex;
  align-items: center;
  color: var(--app-1b1b34);
  font-weight: 500;
  font-family: inter-medium, sans-serif;
}

.comp-replicate-primary-edit {
  font-weight: 600;
  font-family: inter-semi-bold, sans-serif;
  font-size: 13px;
  justify-content: center;
  display: flex;
  background-color: var(--app-e0e1e3);
  border-color: var(--app-e0e1e3);
  color: var(--app-4c4c6d);
  margin-right: 20px;
  margin-top: 14px;
}

.comp-replicate-bottom-view {
  padding-left: 7%;
}

.comp-match-sheets-game-time-track-radio-view {
  padding-top: 10px;
  padding-left: 50px;
}

.comp-grading-final-text {
  font-size: 13px;
  color: var(--app-red);
  font-weight: 500;
  font-family: inter-medium, sans-serif;
}

.primary-add-comp-form {
  /* font-weight: 600; */
  font-family: inter-semi-bold, sans-serif;
  /* font-size: 13px; */
  color: var(--app-f7fafc);
  border-radius: 7px;
  background-image: var(--app-gradient-right);
  justify-content: center;
  display: flex;
  background-color: var(--app-ff6c4f);
  border-color: var(--app-ff6c4f);
  align-items: center;
}

.inside-table-view {
  margin: auto;
  background-color: var(--app-white);
  padding: 24px;
  border-radius: 10px;
}

.add-another-venue-div {
  display: flex;
  margin-left: 27%;
  margin-bottom: 2%;
}

.comp-draw-list-top-head {
  padding: 30px;
}

.comp-draw-edit-btn-view {
  display: flex;
  justify-content: flex-end;
}

.quick-comp-btn-view {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.comp-dashboard-table-tag {
  font-family: inter-semi-bold, sans-serif;
  font-weight: 600;
  font-size: 10px;
  height: 24px;
}

.comp-venue-time-inside-container-view {
  background-color: var(--app-f7fafc);
  padding: 24px;
  margin-top: 5px;
  border-radius: 10px;
  border: 1px solid var(--app-d9d9d9);
}

.modal-publish-popup {
  background-color: var(--app-f7fafc);
  border: 1px solid var(--app-d9d9d9);
  padding: 25px 15px;
  border-radius: 12px;
}

/* .ant-btn-primary {
  color: var(--app-white) !important;
  background-color: var(--app-color) !important;
  border-color: var(--app-color) !important;
} */
.cancelBtnWidth {
  width: 92.5px;
}

.checkbox-model-popup {
  font-weight: 500;
  margin-left: 35px !important;
  margin-top: 15px;
}

.radio-model-popup {
  display: grid;
  margin-left: 20px;
  margin-top: 10px;
}

.radio-model-popup > label > span {
  margin-left: 5px;
}

.com-year-select-heading-view {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 5px;
}

.comp-dash-table-view {
  padding: 10px 22px;
}

.comp-expanded-row-view {
  padding-left: 20%;
}

.player-grading-draggable-view {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: var(--app-4c4c6d);
  padding: 19px 15px;
  border-top: 0;
  border-bottom: 1px solid rgba(27, 27, 52, 0.07);
  background-color: var(--app-white);
}

.player-grading-droppable-view {
  width: 45vw;
  margin-bottom: 5%;
}

.player-grading-droppable-heading-view {
  border-radius: 10px !important;
  background-color: var(--app-white);
  overflow: hidden;
  border: none;
  padding: 25px 15px;
  margin-bottom: 5px;
}

.player-grading-haeding-team-name-text {
  margin: 0;
  color: var(--app-1b1b34);
  /* font-family: "inter-medium"; */
  line-height: 1.5;
  font-size: 20px;
  text-transform: capitalize;
}

.player-grading-haeding-player-count-text {
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  /* font-family: "Inter-Medium"; */
  color: var(--app-color) !important;
}

.player-grading-haeding-player-name-text {
  text-align: left;
  color: var(--app-4c4c6d);
  border-color: rgba(27, 27, 52, 0.07);
  margin: 0;
}

.player-grading-player-name-text {
  display: inline-flex;
  align-content: flex-start;
  color: var(--app-color);
  font-weight: 500;
  font-family: inter-medium, sans-serif;
  cursor: pointer;
}

.collapse.in {
  display: block !important;
}

a.collapsed i {
  transform: rotate(0deg);
}

.csv-reader {
  padding-top: 2px;
  cursor: pointer;
}

.registation-screen-nav-text {
  display: flex;
  align-content: flex-start;
  padding-top: 20px;
  font-size: 13px;
  color: var(--app-4c4c6d);
  font-weight: 500;
  font-family: inter-medium, sans-serif;
}

.registation-screen-nav-text-appColor {
  display: flex;
  align-content: flex-start;
  padding-top: 20px;
  font-size: 13px;
  color: var(--app-color);
  font-weight: 500;
  font-family: inter-medium, sans-serif;
}

.row-view-text {
  display: flex;
  flex-direction: row;
}

.fixtureBorder {
  min-width: 64px;
  height: 40px;
  float: left;
  border-radius: 6px;
  border: 2px dashed var(--app-bbbbc6);
  z-index: 1;
  position: absolute;
  top: 0;
}

.fixtureBox {
  position: absolute;
  top: 0;
  cursor: move;
  min-width: 64px;
  height: 40px;
  border-radius: 5px;
  background-color: var(--app-fbf1ea);
  /* text-transform: uppercase; */
  text-align: center;
  line-height: 40px;
  color: var(--app-white);
  font-size: 13px;
  font-family: 'Inter-Medium';
  z-index: 99;
}

.fixture-sr-no {
  color: var(--app-9b9bad);
  min-width: 25px;
  float: none;
  height: 40px;
  line-height: 40px;
  margin-bottom: 9px;
  position: relative;
  top: 1px;
}

.tablehead-row-fixture span {
  position: absolute;
  top: 0;
  min-width: 64px;
  height: 40px;
  color: var(--app-9b9bad);
  line-height: 40px;
  font-size: 13px;
  font-family: 'Inter-Medium';
  z-index: 99;
  text-align: center;
}

.tablehead-row-fixture {
  position: relative;
  margin: 0 20px;
}

.venueCourt-text {
  white-space: nowrap;
  word-wrap: break-word;
}

.venueCourt-tex-div {
  text-overflow: ellipsis;
  overflow: hidden;
  position: absolute;
  /* white-space: nowrap; */
  padding-right: 10px;
  width: 80px;
  color: var(--app-9b9bad);
}

.Tooltip_Wrapper__3AlJ0 svg {
  cursor: pointer;
  margin-left: 5px;
  height: 15px;
  width: 15px;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  /* overflow: visible; */
  -webkit-overflow-scrolling: touch;
}

.contextual-table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  overflow: visible;
  -webkit-overflow-scrolling: touch;
}

.ant-table-empty .ant-table-body {
  /* overflow-x: auto !important; */
  /* overflow-y: hidden !important; */
  overflow: visible !important;
}

.Content_Content__1CE8z {
  overflow-wrap: break-word;
  line-height: 1.25em;
  color: inherit;
  margin: 0;
  cursor: auto;
  background-color: white;
  white-space: pre-line;
}

.Content_Container__xhjD8 {
  position: fixed;
  z-index: 5;
  padding: 12px 32px 12px 12px;
  display: table;
  /* width: 380px;
    max-width: 80vw; */
  /* box-shadow: rgba(0, 0, 0, 0.1) 0 0 5px; */
  box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 14px 8px;
  border: 1px solid inherit;
  border-radius: 10px !important;
  background: inherit;
  color: inherit;
  border-image: initial;
  background-color: white !important;
  margin-top: 4px;
}

.table-responsive.table-competition {
  overflow: visible !important;
}

.ant-table-thead > tr > th .anticon-filter,
.ant-table-thead > tr > th .ant-table-filter-icon {
  width: 0;
}

.fixture-huge-sr {
  height: 106px !important;
  line-height: 106px !important;
  margin-bottom: 24px !important;
}

.fxiture-huge-border {
  height: 106px !important;
}

.fixture-huge-undraggble-box {
  position: absolute;
  top: 0;
  background-color: var(--app-ebf0f3);
  color: var(--app-9b9bad);
  width: 100px;
  z-index: 99;
  height: 106px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter-Medium';
  border-radius: 5px;
}

.quick-comp-canvas {
  height: 40px;
  line-height: 40px;
  margin-bottom: 10px;
  position: relative;
}

.fixture-main-canvas.Draws .box {
  min-width: 100px;
  height: 53px;
  line-height: initial;
  display: flex;
  justify-content: center !important;
}

.fixture-main-canvas.Draws .box span {
  font-size: 11px;
  letter-spacing: normal;
  padding: 5px;
  margin: auto;
  align-self: center;
  text-align: center;
}

.fixture-round-view {
  display: flex;
  height: 50px;
  margin-left: 70px;
  flex-direction: column;
}

.fixture-round {
  font-size: 11px;
  color: black;
  font-weight: 700;
}

.draws-round {
  font-size: 22px;
  color: var(--app-1b1b34);
  font-weight: 500;
  position: absolute;
  font-family: inter-medium, sans-serif;
  left: 25px;
  align-self: center;
}

.draws-round-view {
  display: flex;
  height: 60px;
  padding-top: 10px;
  flex-direction: column;
}

.box-exception {
  position: absolute;
  top: 0;
  cursor: pointer;
  min-width: 100px;
  height: 15px;
  /* text-transform: uppercase; */
  text-align: center;
  z-index: 99;
}

.action-triple-dot-draws .ant-menu-submenu-title {
  padding: 0;
}

.Content_Cancel__VinjW svg {
  width: 10px;
  height: 10px;
  /* margin-top: 10px */
}

.contextual-upper-div-table {
  overflow: inherit;
}

.ant-calendar-range-picker-separator {
  vertical-align: middle;
  display: unset;
}

@media (max-width: 991px) {
  .comp-buttons-view .open-reg-button {
    margin-top: 20px;
  }

  .comp-buttons-view .save-draft-text {
    margin-right: 20px;
  }

  .goBtn {
    margin-top: 2px;
  }
}

@media (max-width: 767px) {
  .paddingBottom56px {
    padding-bottom: 5px;
  }
  .goBtn {
    margin-top: 2px;
  }

  .multiDrawRow {
    width: inherit;
    margin-right: -15px;
    margin-left: -15px;
  }

  .multiDrawLeftView {
    width: 100%;
    padding-left: 15px;
  }

  .multiDrawRightView {
    width: 100%;
    padding-right: 15px;
  }

  .comp-buttons-view {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
  }

  .reg-add-save-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
  }

  .margin-top-disabled-button {
    margin-top: 12px;
  }

  .ant-checkbox-wrapper + .ant-checkbox-wrapper {
    margin-left: 0;
  }

  .ant-select-selection__rendered {
    max-width: 100%;
    overflow: hidden;
  }

  .ant-select-selection--multiple::after {
    clear: both;
  }

  .comp-buttons-view .save-draft-text {
    margin-right: 0;
  }

  .comp-finals-button-view {
    display: flex;
    justify-content: center;
  }

  .breadcrumb-product {
    font-size: 18px;
  }

  .breadcrumb-add {
    font-size: 18px;
  }

  .comp-dashboard-botton-view-mobile {
    padding-top: 5%;
  }

  .reg-competition-radio {
    overflow-x: auto;
  }

  .add-another-venue-div {
    margin-left: 1%;
    margin-bottom: 2%;
  }

  .form-heading {
    font-size: 18px;
  }

  .setting-heading {
    font-size: 15px;
  }

  .comp-grading-final-text {
    margin-left: 15px;
  }

  .com-year-select-heading-view {
    margin-left: 1px;
  }

  .comp-venue-courts-dropdown-view {
    padding-left: 7%;
    padding-right: 15%;
    margin-top: 1%;
    margin-bottom: 1%;
  }

  .comp-venue-courts-header-view {
    padding-left: 7%;
  }

  .comp-player-table-tag {
    margin-top: 5px;
  }

  .comp-player-table-img {
    margin-top: 5px;
  }

  .quick-comp-btn-view {
    display: flex;
    justify-content: flex-start;
  }

  .paddingview {
    padding-left: 15px;
  }
}

.venue-cons-err {
  color: var(--app-f5222d);
}

.tag-col {
  background-color: var(--app-color);
  color: white;
}

.change-division-select .ant-select-selection-selected-value {
  width: 210px;
}

.change-division-modal {
  display: flex;
  align-items: center;
}

.change-division-modal .year-select-heading {
  width: 65px;
}

.change-division-select .ant-select-selection {
  border: 1px solid var(--app-d9d9d9) !important;
  width: 420px !important;
  min-height: 40px !important;
  margin-right: 30px;
  box-shadow: 0 8px 16px 0 rgba(27, 27, 52, 0.06);
  background-color: var(--app-white);
}

.check-box-player {
  padding-left: 15px;
  padding-top: 3px;
}

.comp-warning-info {
  font-family: inter-medium, sans-serif;
  font-size: 18px;
  text-align: center;
  padding-top: 40px;
}

.formView-finals {
  width: 70%;
  margin: auto;
  border-radius: 10px;
}

.compitition-finals-venue {
  background-color: white;
  padding: 13px 40px 40px;
  border-radius: 10px;
}

.compitition-finals-division {
  background-color: white;
  padding: 20px 40px 40px;
  border-radius: 10px;
  margin-top: 40px;
}

.inside-container-view > div > div > div > .undefined {
  font-size: 18px;
}

.button-space .ant-btn-primary {
  padding-right: 21px;
}

.customize-radio-text .ant-radio-wrapper {
  font-size: 13px;
  color: inherit;
}

.multiDrawHeaderView {
  width: 95%;
  margin: auto;
  background-color: white;
  border-radius: 5px;
  height: 90px;
  box-shadow: rgba(0, 0, 0, 0.1) 8px 11px 28px 6px;
}

.multiDrawContentView {
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(27, 27, 52, 0.06);
  background-color: var(--app-white);
  margin-top: 30px;
}

.multi-draw-list-top-head {
  padding: 15px;
}

.multi-field-draw-edit-button {
  background-color: var(--app-white) !important;
  color: var(--app-color) !important;
  font-weight: 500;
  font-family: inter, sans-serif;
  width: fit-content;
  margin-right: 20px;
}

a.view-more-btn i.fa.fa-angle-up {
  transform: rotate(0deg) !important;
}

a.view-more-btn.collapsed i.fa.fa-angle-up {
  transform: rotate(180deg) !important;
}

.ant-checkbox-indeterminate .ant-checkbox-inner::after {
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  background-color: var(--app-color) !important;
  border: 0;
  -webkit-transform: translate(-50%, -50%) scale(1);
  -ms-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  content: ' ';
}

.multi-draw-left-list-view {
  overflow: auto;
  text-overflow: ellipsis;
  -webkit-appearance: none;
  white-space: nowrap;
  max-height: 645px;
  height: fit-content;
}

.duplicate-slotView {
  border: 1px dotted red;
}

@media (max-width: 1200px) {
  .table-responsive.table-competition {
    max-width: 1200px;
    width: 100%;
    overflow: auto !important;
  }
}

@media (max-width: 767px) {
  .contextual-table-responsive.content-responsive {
    overflow: auto;
  }
}

.popup-text-color {
  color: var(--app-1b1b34);
  font-weight: 700;
  margin-top: 15px;
}

.validity-period-bg {
  background-color: white;
  border-radius: 12px;
  padding: 15px;
  width: 40%;
}

.font-18 {
  font-size: 18px;
}

.add-team-member-action-txt {
  cursor: pointer;
  color: var(--app-color);
  font-size: 14px;
  font-weight: 700;
}

.pointer {
  cursor: pointer;
}

.team-preferences-header {
  font-weight: bold;
}

.preference-form-line > *:first-child {
  width: 25%;
  min-width: 25%;
}

.preference-form-line > *:nth-child(2) {
  width: 75%;
}

.preference-form-line .ant-form-item-control {
  position: relative;
}

.preference-form-line .ant-form-item-explain {
  position: absolute;
  bottom: -22px;
  left: 0;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.preference-form-line .ant-form-item-explain > div {
  display: inline;
}

.app-color {
  color: var(--app-color);
}
