.checkbox-ff8237 {
    .ant-checkbox-checked .ant-checkbox-inner {
        background-color: #ff8237;
        border-color: #ff8237;
    }
    .ant-checkbox-checked::after {
        border: 1px solid #ff8237;
    }
    .ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color:   #ff8237;
}
   
}.checkbox-F77927 {
    .ant-checkbox-checked .ant-checkbox-inner {
        background-color: #F77927;
        border-color: #F77927;
    }
    .ant-checkbox-checked::after {
        border: 1px solid #F77927;
    }
    .ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color:  #F77927;
}
}.checkbox-6AD672 {
    .ant-checkbox-checked .ant-checkbox-inner {
        background-color: #6AD672;
        border-color: #6AD672;
    }
    .ant-checkbox-checked::after {
        border: 1px solid #6AD672;
    }
    .ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color:  #6AD672;
}
}.checkbox-0556DE {
    .ant-checkbox-checked .ant-checkbox-inner {
        background-color: #0556DE;
        border-color: #0556DE;
    }
    .ant-checkbox-checked::after {
        border: 1px solid #0556DE;
    }
    .ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color:  #0556DE;
}
}.checkbox-FD2F90 {
    .ant-checkbox-checked .ant-checkbox-inner {
        background-color: #FD2F90;
        border-color: #FD2F90;
    }
    .ant-checkbox-checked::after {
        border: 1px solid  #FD2F90;
    }
    .ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color:   #FD2F90;
}
}.checkbox-60A0DF {
    .ant-checkbox-checked .ant-checkbox-inner {
        background-color: #60A0DF;
        border-color: #60A0DF;
    } .ant-checkbox-checked::after {
        border: 1px solid #60A0DF;
    }
    .ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color:  #60A0DF;
}
}.checkbox-7D35CF {
    .ant-checkbox-checked .ant-checkbox-inner {
        background-color: #7D35CF;
        border-color: #7D35CF;
    } .ant-checkbox-checked::after {
        border: 1px solid #7D35CF;
    }
    .ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color:  #7D35CF;
}
}.checkbox-BF5E0F {
    .ant-checkbox-checked .ant-checkbox-inner {
        background-color: #BF5E0F;
        border-color: #BF5E0F;
    } .ant-checkbox-checked::after {
        border: 1px solid #BF5E0F;
    }
    .ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color:  #BF5E0F;
}
}.checkbox-3C001D {
    .ant-checkbox-checked .ant-checkbox-inner {
        background-color: #3C001D;
        border-color: #3C001D;
    } .ant-checkbox-checked::after {
        border: 1px solid #3C001D;
    }
    .ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color:  #3C001D;
}
}.checkbox-037075 {
    .ant-checkbox-checked .ant-checkbox-inner {
        background-color: #037075;
        border-color: #037075;
    } .ant-checkbox-checked::after {
        border: 1px solid #037075;
    }
    .ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color:  #037075;
}
}.checkbox-13277B {
    .ant-checkbox-checked .ant-checkbox-inner {
        background-color: #13277B;
        border-color: #13277B;
    } .ant-checkbox-checked::after {
        border: 1px solid #13277B;
    }
    .ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color:  #13277B;
}
}.checkbox-1A2805 {
    .ant-checkbox-checked .ant-checkbox-inner {
        background-color: #1A2805;
        border-color: #1A2805;
    } .ant-checkbox-checked::after {
        border: 1px solid #1A2805;
    }
    .ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color:  #1A2805;
}
}.checkbox-79BD41 {
    .ant-checkbox-checked .ant-checkbox-inner {
        background-color: #79BD41;
        border-color: #79BD41;
    } .ant-checkbox-checked::after {
        border: 1px solid #79BD41;
    }
    .ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color:  #79BD41;
}
}.checkbox-7155B3 {
    .ant-checkbox-checked .ant-checkbox-inner {
        background-color: #7155B3;
        border-color: #7155B3;
    } .ant-checkbox-checked::after {
        border: 1px solid #7155B3;
    }
    .ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color:  #7155B3;
}
}.checkbox-B4250B {
    .ant-checkbox-checked .ant-checkbox-inner {
        background-color: #B4250B;
        border-color: #B4250B;
    } .ant-checkbox-checked::after {
        border: 1px solid #B4250B;
    }
    .ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color:  #B4250B;
}
}.checkbox-CD00B1 {
    .ant-checkbox-checked .ant-checkbox-inner {
        background-color: #CD00B1;
        border-color: #CD00B1;
    } .ant-checkbox-checked::after {
        border: 1px solid #CD00B1;
    }
    .ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color:  #CD00B1;
}
}.checkbox-B49F55 {
    .ant-checkbox-checked .ant-checkbox-inner {
        background-color: #B49F55;
        border-color: #B49F55;
    } .ant-checkbox-checked::after {
        border: 1px solid #B49F55;
    }
    .ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color:  #B49F55;
}
}.checkbox-2C1E8B {
    .ant-checkbox-checked .ant-checkbox-inner {
        background-color: #2C1E8B;
        border-color: #2C1E8B;
    } .ant-checkbox-checked::after {
        border: 1px solid #2C1E8B;
    }
    .ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color:  #2C1E8B;
}
}.checkbox-590121 {
    .ant-checkbox-checked .ant-checkbox-inner {
        background-color: #590121;
        border-color: #590121;
    } .ant-checkbox-checked::after {
        border: 1px solid #590121;
    }
    .ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color:  #590121;
}
}.checkbox-481EDA {
    .ant-checkbox-checked .ant-checkbox-inner {
        background-color: #481EDA;
        border-color: #481EDA;
    } .ant-checkbox-checked::after {
        border: 1px solid #481EDA;
    }
    .ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color:  #481EDA;
}
}.checkbox-009574 {
    .ant-checkbox-checked .ant-checkbox-inner {
        background-color: #009574;
        border-color: #009574;
    } .ant-checkbox-checked::after {
        border: 1px solid #009574;
    }
    .ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color:  #009574;
}
}.checkbox-84791E {
    .ant-checkbox-checked .ant-checkbox-inner {
        background-color: #84791E;
        border-color: #84791E;
    } .ant-checkbox-checked::after {
        border: 1px solid #84791E;
    }
    .ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color:  #84791E;
}
}.checkbox-67429A {
    .ant-checkbox-checked .ant-checkbox-inner {
        background-color: #67429A;
        border-color: #67429A;
    } .ant-checkbox-checked::after {
        border: 1px solid #67429A;
    }
    .ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color:  #67429A;
}
}.checkbox-EC054E {
    .ant-checkbox-checked .ant-checkbox-inner {
        background-color: #EC054E;
        border-color: #EC054E;
    } .ant-checkbox-checked::after {
        border: 1px solid #EC054E;
    }
    .ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color:  #EC054E;
}
}.checkbox-DF880F {
    .ant-checkbox-checked .ant-checkbox-inner {
        background-color: #DF880F;
        border-color: #DF880F;
    } .ant-checkbox-checked::after {
        border: 1px solid #DF880F;
    }
    .ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color:  #DF880F;
}
}.checkbox-C021DD {
    .ant-checkbox-checked .ant-checkbox-inner {
        background-color: #C021DD;
        border-color: #C021DD;
    } .ant-checkbox-checked::after {
        border: 1px solid #C021DD;
    }
    .ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color:  #C021DD;
}
}.checkbox-2771F7 {
    .ant-checkbox-checked .ant-checkbox-inner {
        background-color: #2771F7;
        border-color: #2771F7;
    } .ant-checkbox-checked::after {
        border: 1px solid #2771F7;
    }
    .ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color:  #2771F7;
}
}.checkbox-2C9065 {
    .ant-checkbox-checked .ant-checkbox-inner {
        background-color: #2C9065;
        border-color: #2C9065;
    } .ant-checkbox-checked::after {
        border: 1px solid #2C9065;
    }
    .ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color:  #2C9065;
}
}.checkbox-15503E {
    .ant-checkbox-checked .ant-checkbox-inner {
        background-color: #15503E;
        border-color: #15503E;
    } .ant-checkbox-checked::after {
        border: 1px solid #15503E;
    }
    .ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color:  #15503E;
}
}.checkbox-F027C7 {
    .ant-checkbox-checked .ant-checkbox-inner {
        background-color: #F027C7;
        border-color: #F027C7;
    } .ant-checkbox-checked::after {
        border: 1px solid #F027C7;
    }
    .ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color:  #F027C7;
}
}.checkbox-8E5E2B {
    .ant-checkbox-checked .ant-checkbox-inner {
        background-color: #8E5E2B;
        border-color: #8E5E2B;
    } .ant-checkbox-checked::after {
        border: 1px solid #8E5E2B;
    }
    .ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color:  #8E5E2B;
}
}.checkbox-711F68 {
    .ant-checkbox-checked .ant-checkbox-inner {
        background-color: #711F68;
        border-color: #711F68;
    } .ant-checkbox-checked::after {
        border: 1px solid #711F68;
    }
    .ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color:  #711F68;
}
}.checkbox-853E01 {
    .ant-checkbox-checked .ant-checkbox-inner {
        background-color: #853E01;
        border-color: #853E01;
    } .ant-checkbox-checked::after {
        border: 1px solid #853E01;
    }
    .ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color:  #853E01;
}
}.checkbox-4A41A9 {
    .ant-checkbox-checked .ant-checkbox-inner {
        background-color: #4A41A9;
        border-color: #4A41A9;
    } .ant-checkbox-checked::after {
        border: 1px solid #4A41A9;
    }
    .ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color:  #4A41A9;
}
}.checkbox-C6605C {
    .ant-checkbox-checked .ant-checkbox-inner {
        background-color: #C6605C;
        border-color: #C6605C;
    } .ant-checkbox-checked::after {
        border: 1px solid #C6605C;
    }
    .ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color:  #C6605C;
}
}.checkbox-1A95FF {
    .ant-checkbox-checked .ant-checkbox-inner {
        background-color: #1A95FF;
        border-color: #1A95FF;
    } .ant-checkbox-checked::after {
        border: 1px solid #1A95FF;
    }
    .ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color:  #1A95FF;
}
}.checkbox-6C726C {
    .ant-checkbox-checked .ant-checkbox-inner {
        background-color: #6C726C;
        border-color: #6C726C;
    } .ant-checkbox-checked::after {
        border: 1px solid #6C726C;
    }
    .ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color:  #6C726C;
}
}.checkbox-0CA87B {
    .ant-checkbox-checked .ant-checkbox-inner {
        background-color: #0CA87B;
        border-color: #0CA87B;
    } .ant-checkbox-checked::after {
        border: 1px solid #0CA87B;
    }
    .ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color:  #0CA87B;
}
}.checkbox-873FAA {
    .ant-checkbox-checked .ant-checkbox-inner {
        background-color: #873FAA;
        border-color: #873FAA;
    } .ant-checkbox-checked::after {
        border: 1px solid #873FAA;
    }
    .ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color:  #873FAA;
}
}.checkbox-CA4452 {
    .ant-checkbox-checked .ant-checkbox-inner {
        background-color: #CA4452;
        border-color: #CA4452;
    } .ant-checkbox-checked::after {
        border: 1px solid #CA4452;
    }
    .ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color:  #CA4452;
}
}.checkbox-B57A38 {
    .ant-checkbox-checked .ant-checkbox-inner {
        background-color: #B57A38;
        border-color: #B57A38;
    } .ant-checkbox-checked::after {
        border: 1px solid #B57A38;
    }
    .ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color:  #B57A38;
}
}.checkbox-6891C8 {
    .ant-checkbox-checked .ant-checkbox-inner {
        background-color: #6891C8;
        border-color: #6891C8;
    } .ant-checkbox-checked::after {
        border: 1px solid #6891C8;
    }
    .ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color:  #6891C8;
}
}.checkbox-6E0644 {
    .ant-checkbox-checked .ant-checkbox-inner {
        background-color: #6E0644;
        border-color: #6E0644;
    } .ant-checkbox-checked::after {
        border: 1px solid #6E0644;
    }
    .ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color:  #6E0644;
}
}.checkbox-2D4EA9 {
    .ant-checkbox-checked .ant-checkbox-inner {
        background-color: #2D4EA9;
        border-color: #2D4EA9;
    } .ant-checkbox-checked::after {
        border: 1px solid #2D4EA9;
    }
    .ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color:  #2D4EA9;
}
}.checkbox-2DEAD3 {
    .ant-checkbox-checked .ant-checkbox-inner {
        background-color: #2DEAD3;
        border-color: #2DEAD3;
    } .ant-checkbox-checked::after {
        border: 1px solid #2DEAD3;
    }
    .ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color:  #2DEAD3;
}
}.checkbox-7FC981 {
    .ant-checkbox-checked .ant-checkbox-inner {
        background-color: #7FC981;
        border-color: #7FC981;
    } .ant-checkbox-checked::after {
        border: 1px solid #7FC981;
    }
    .ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color:  #7FC981;
}
}.checkbox-8F5BB3 {
    .ant-checkbox-checked .ant-checkbox-inner {
        background-color: #8F5BB3;
        border-color: #8F5BB3;
    } .ant-checkbox-checked::after {
        border: 1px solid #8F5BB3;
    }
    .ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color:  #8F5BB3;
}
}.checkbox-E453BF {
    .ant-checkbox-checked .ant-checkbox-inner {
        background-color: #E453BF;
        border-color: #E453BF;
    } .ant-checkbox-checked::after {
        border: 1px solid #E453BF;
    }
    .ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color:  #E453BF;
}
}.checkbox-463138 {
    .ant-checkbox-checked .ant-checkbox-inner {
        background-color: #463138;
        border-color: #463138;
    } .ant-checkbox-checked::after {
        border: 1px solid #463138;
    }
    .ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color:  #463138;
}
}.checkbox-0E5E73 {
    .ant-checkbox-checked .ant-checkbox-inner {
        background-color: #0E5E73;
        border-color: #0E5E73;
    } .ant-checkbox-checked::after {
        border: 1px solid #0E5E73;
    }
    .ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color:  #0E5E73;
}
}.checkbox-5A7FDE {
    .ant-checkbox-checked .ant-checkbox-inner {
        background-color: #5A7FDE;
        border-color: #5A7FDE;
    } .ant-checkbox-checked::after {
        border: 1px solid #5A7FDE;
    }
    .ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color:  #5A7FDE;
}
}.checkbox-505B09 {
    .ant-checkbox-checked .ant-checkbox-inner {
        background-color: #505B09;
        border-color: #505B09;
    } .ant-checkbox-checked::after {
        border: 1px solid #505B09;
    }
    .ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color:  #505B09;
}
}.checkbox-42D1D1 {
    .ant-checkbox-checked .ant-checkbox-inner {
        background-color: #42D1D1;
        border-color: #42D1D1;
    } .ant-checkbox-checked::after {
        border: 1px solid #42D1D1;
    }
    .ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color:  #42D1D1;
}
}.checkbox-645807 {
    .ant-checkbox-checked .ant-checkbox-inner {
        background-color: #645807;
        border-color: #645807;
    } .ant-checkbox-checked::after {
        border: 1px solid #645807;
    }
    .ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color:  #645807;
}
}.checkbox-A06BB1 {
    .ant-checkbox-checked .ant-checkbox-inner {
        background-color: #A06BB1;
        border-color: #A06BB1;
    } .ant-checkbox-checked::after {
        border: 1px solid #A06BB1;
    }
    .ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color:  #A06BB1;
}
}.checkbox-A12683 {
    .ant-checkbox-checked .ant-checkbox-inner {
        background-color: #A12683;
        border-color: #A12683;
    } .ant-checkbox-checked::after {
        border: 1px solid #A12683;
    }
    .ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color:  #A12683;
}
}.checkbox-BC79E4 {
    .ant-checkbox-checked .ant-checkbox-inner {
        background-color: #BC79E4;
        border-color: #BC79E4;
    } .ant-checkbox-checked::after {
        border: 1px solid #BC79E4;
    }
    .ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color:  #BC79E4;
}
}.checkbox-EA0628 {
    .ant-checkbox-checked .ant-checkbox-inner {
        background-color: #EA0628;
        border-color: #EA0628;
    } .ant-checkbox-checked::after {
        border: 1px solid #EA0628;
    }
    .ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color:  #EA0628;
}
}.checkbox-F998AC {
    .ant-checkbox-checked .ant-checkbox-inner {
        background-color: #F998AC;
        border-color: #F998AC;
    } .ant-checkbox-checked::after {
        border: 1px solid #F998AC;
    }
    .ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color:  #F998AC;
}
}.checkbox-2776DB {
    .ant-checkbox-checked .ant-checkbox-inner {
        background-color: #2776DB;
        border-color: #2776DB;
    } .ant-checkbox-checked::after {
        border: 1px solid #2776DB;
    }
    .ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color:  #2776DB;
}
}.checkbox-14D679 {
    .ant-checkbox-checked .ant-checkbox-inner {
        background-color: #14D679;
        border-color: #14D679;
    } .ant-checkbox-checked::after {
        border: 1px solid #14D679;
    }
    .ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color:  #14D679;
}
}.checkbox-9BB712 {
    .ant-checkbox-checked .ant-checkbox-inner {
        background-color: #9BB712;
        border-color: #9BB712;
    } .ant-checkbox-checked::after {
        border: 1px solid #9BB712;
    }
    .ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color:  #9BB712;
}
}.checkbox-A24F91 {
    .ant-checkbox-checked .ant-checkbox-inner {
        background-color: #A24F91;
        border-color: #A24F91;
    } .ant-checkbox-checked::after {
        border: 1px solid #A24F91;
    }
    .ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color:  #A24F91;
}
}.checkbox-84090D {
    .ant-checkbox-checked .ant-checkbox-inner {
        background-color: #84090D;
        border-color: #84090D;
    } .ant-checkbox-checked::after {
        border: 1px solid #84090D;
    }
    .ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color:  #84090D;
}
}.checkbox-D1B711 {
    .ant-checkbox-checked .ant-checkbox-inner {
        background-color: #D1B711;
        border-color: #D1B711;
    } .ant-checkbox-checked::after {
        border: 1px solid #D1B711;
    }
    .ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color:  #D1B711;
}
}.checkbox-AABCDF {
    .ant-checkbox-checked .ant-checkbox-inner {
        background-color: #AABCDF;
        border-color: #AABCDF;
    } .ant-checkbox-checked::after {
        border: 1px solid #AABCDF;
    }
    .ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color:  #AABCDF;
}
}.checkbox-810359 {
    .ant-checkbox-checked .ant-checkbox-inner {
        background-color: #810359;
        border-color: #810359;
    } .ant-checkbox-checked::after {
        border: 1px solid #810359;
    }
    .ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color:  #810359;
}
}.checkbox-72A59D {
    .ant-checkbox-checked .ant-checkbox-inner {
        background-color: #72A59D;
        border-color: #72A59D;
    } .ant-checkbox-checked::after {
        border: 1px solid #72A59D;
    }
    .ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color:  #72A59D;
}
}.checkbox-10F64C {
    .ant-checkbox-checked .ant-checkbox-inner {
        background-color: #10F64C;
        border-color: #10F64C;
    } .ant-checkbox-checked::after {
        border: 1px solid #10F64C;
    }
    .ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color:  #10F64C;
}
}.checkbox-C1944A {
    .ant-checkbox-checked .ant-checkbox-inner {
        background-color: #C1944A;
        border-color: #C1944A;
    } .ant-checkbox-checked::after {
        border: 1px solid #C1944A;
    }
    .ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color:  #C1944A;
}
}.checkbox-A48AE0 {
    .ant-checkbox-checked .ant-checkbox-inner {
        background-color: #A48AE0;
        border-color: #A48AE0;
    } .ant-checkbox-checked::after {
        border: 1px solid #A48AE0;
    }
    .ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color:  #A48AE0;
}
}.checkbox-D3554D {
    .ant-checkbox-checked .ant-checkbox-inner {
        background-color: #D3554D;
        border-color: #D3554D;
    } .ant-checkbox-checked::after {
        border: 1px solid #D3554D;
    }
    .ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color:  #D3554D;
}
}.checkbox-E2A26D {
    .ant-checkbox-checked .ant-checkbox-inner {
        background-color: #E2A26D;
        border-color: #E2A26D;
    } .ant-checkbox-checked::after {
        border: 1px solid #E2A26D;
    }
    .ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color:  #E2A26D;
}
}.checkbox-9AD59D {
    .ant-checkbox-checked .ant-checkbox-inner {
        background-color: #9AD59D;
        border-color: #9AD59D;
    } .ant-checkbox-checked::after {
        border: 1px solid #9AD59D;
    }
    .ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color:  #9AD59D;
}
}.checkbox-CB9B9B {
    .ant-checkbox-checked .ant-checkbox-inner {
        background-color: #CB9B9B;
        border-color: #CB9B9B;
    } .ant-checkbox-checked::after {
        border: 1px solid #CB9B9B;
    }
    .ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color:  #CB9B9B;
}
}.checkbox-F9A618 {
    .ant-checkbox-checked .ant-checkbox-inner {
        background-color: #F9A618;
        border-color: #F9A618;
    } .ant-checkbox-checked::after {
        border: 1px solid #F9A618;
    }
    .ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color:  #F9A618;
}
}.checkbox-98D2C9 {
    .ant-checkbox-checked .ant-checkbox-inner {
        background-color: #98D2C9;
        border-color: #98D2C9;
    } .ant-checkbox-checked::after {
        border: 1px solid #98D2C9;
    }
    .ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color:  #98D2C9;
}
}.checkbox-FFA4E6 {
    .ant-checkbox-checked .ant-checkbox-inner {
        background-color: #FFA4E6;
        border-color: #FFA4E6;
    } .ant-checkbox-checked::after {
        border: 1px solid #FFA4E6;
    }
    .ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color:  #FFA4E6;
}
}.checkbox-86CAE9 {
    .ant-checkbox-checked .ant-checkbox-inner {
        background-color: #86CAE9;
        border-color: #86CAE9;
    } .ant-checkbox-checked::after {
        border: 1px solid #86CAE9;
    }
    .ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color:  #86CAE9;
}
}.checkbox-9DD918 {
    .ant-checkbox-checked .ant-checkbox-inner {
        background-color: #9DD918;
        border-color: #9DD918;
    } .ant-checkbox-checked::after {
        border: 1px solid #9DD918;
    }
    .ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color:  #9DD918;
}
}.checkbox-D4D045 {
    .ant-checkbox-checked .ant-checkbox-inner {
        background-color: #D4D045;
        border-color: #D4D045;
    } .ant-checkbox-checked::after {
        border: 1px solid #D4D045;
    }
    .ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color:  #D4D045;
}
}

.main-canvas.Draws .unavailable-draws,
.main-canvas.Draws .unavailable-draws span {
    color: var(--app-9b9bad);
    font-size: 15px;
}

.white-bg-timeline {
    background-color: var(--app-white);
}
