.checkbox-ff8237 {
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #ff8237;
    border-color: #ff8237;
  }
  .ant-checkbox-checked::after {
    border: 1px solid #ff8237;
  }
  .ant-checkbox-wrapper:hover .ant-checkbox-inner,
  .ant-checkbox:hover .ant-checkbox-inner,
  .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: #ff8237;
  }
}
.checkbox-F77927 {
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #f77927;
    border-color: #f77927;
  }
  .ant-checkbox-checked::after {
    border: 1px solid #f77927;
  }
  .ant-checkbox-wrapper:hover .ant-checkbox-inner,
  .ant-checkbox:hover .ant-checkbox-inner,
  .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: #f77927;
  }
}
.checkbox-6AD672 {
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #6ad672;
    border-color: #6ad672;
  }
  .ant-checkbox-checked::after {
    border: 1px solid #6ad672;
  }
  .ant-checkbox-wrapper:hover .ant-checkbox-inner,
  .ant-checkbox:hover .ant-checkbox-inner,
  .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: #6ad672;
  }
}
.checkbox-0556DE {
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #0556de;
    border-color: #0556de;
  }
  .ant-checkbox-checked::after {
    border: 1px solid #0556de;
  }
  .ant-checkbox-wrapper:hover .ant-checkbox-inner,
  .ant-checkbox:hover .ant-checkbox-inner,
  .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: #0556de;
  }
}
.checkbox-FD2F90 {
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #fd2f90;
    border-color: #fd2f90;
  }
  .ant-checkbox-checked::after {
    border: 1px solid #fd2f90;
  }
  .ant-checkbox-wrapper:hover .ant-checkbox-inner,
  .ant-checkbox:hover .ant-checkbox-inner,
  .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: #fd2f90;
  }
}
.checkbox-60A0DF {
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #60a0df;
    border-color: #60a0df;
  }
  .ant-checkbox-checked::after {
    border: 1px solid #60a0df;
  }
  .ant-checkbox-wrapper:hover .ant-checkbox-inner,
  .ant-checkbox:hover .ant-checkbox-inner,
  .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: #60a0df;
  }
}
.checkbox-7D35CF {
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #7d35cf;
    border-color: #7d35cf;
  }
  .ant-checkbox-checked::after {
    border: 1px solid #7d35cf;
  }
  .ant-checkbox-wrapper:hover .ant-checkbox-inner,
  .ant-checkbox:hover .ant-checkbox-inner,
  .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: #7d35cf;
  }
}
.checkbox-BF5E0F {
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #bf5e0f;
    border-color: #bf5e0f;
  }
  .ant-checkbox-checked::after {
    border: 1px solid #bf5e0f;
  }
  .ant-checkbox-wrapper:hover .ant-checkbox-inner,
  .ant-checkbox:hover .ant-checkbox-inner,
  .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: #bf5e0f;
  }
}
.checkbox-3C001D {
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #3c001d;
    border-color: #3c001d;
  }
  .ant-checkbox-checked::after {
    border: 1px solid #3c001d;
  }
  .ant-checkbox-wrapper:hover .ant-checkbox-inner,
  .ant-checkbox:hover .ant-checkbox-inner,
  .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: #3c001d;
  }
}
.checkbox-037075 {
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #037075;
    border-color: #037075;
  }
  .ant-checkbox-checked::after {
    border: 1px solid #037075;
  }
  .ant-checkbox-wrapper:hover .ant-checkbox-inner,
  .ant-checkbox:hover .ant-checkbox-inner,
  .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: #037075;
  }
}
.checkbox-13277B {
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #13277b;
    border-color: #13277b;
  }
  .ant-checkbox-checked::after {
    border: 1px solid #13277b;
  }
  .ant-checkbox-wrapper:hover .ant-checkbox-inner,
  .ant-checkbox:hover .ant-checkbox-inner,
  .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: #13277b;
  }
}
.checkbox-1A2805 {
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #1a2805;
    border-color: #1a2805;
  }
  .ant-checkbox-checked::after {
    border: 1px solid #1a2805;
  }
  .ant-checkbox-wrapper:hover .ant-checkbox-inner,
  .ant-checkbox:hover .ant-checkbox-inner,
  .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: #1a2805;
  }
}
.checkbox-79BD41 {
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #79bd41;
    border-color: #79bd41;
  }
  .ant-checkbox-checked::after {
    border: 1px solid #79bd41;
  }
  .ant-checkbox-wrapper:hover .ant-checkbox-inner,
  .ant-checkbox:hover .ant-checkbox-inner,
  .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: #79bd41;
  }
}
.checkbox-7155B3 {
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #7155b3;
    border-color: #7155b3;
  }
  .ant-checkbox-checked::after {
    border: 1px solid #7155b3;
  }
  .ant-checkbox-wrapper:hover .ant-checkbox-inner,
  .ant-checkbox:hover .ant-checkbox-inner,
  .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: #7155b3;
  }
}
.checkbox-B4250B {
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #b4250b;
    border-color: #b4250b;
  }
  .ant-checkbox-checked::after {
    border: 1px solid #b4250b;
  }
  .ant-checkbox-wrapper:hover .ant-checkbox-inner,
  .ant-checkbox:hover .ant-checkbox-inner,
  .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: #b4250b;
  }
}
.checkbox-CD00B1 {
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #cd00b1;
    border-color: #cd00b1;
  }
  .ant-checkbox-checked::after {
    border: 1px solid #cd00b1;
  }
  .ant-checkbox-wrapper:hover .ant-checkbox-inner,
  .ant-checkbox:hover .ant-checkbox-inner,
  .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: #cd00b1;
  }
}
.checkbox-B49F55 {
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #b49f55;
    border-color: #b49f55;
  }
  .ant-checkbox-checked::after {
    border: 1px solid #b49f55;
  }
  .ant-checkbox-wrapper:hover .ant-checkbox-inner,
  .ant-checkbox:hover .ant-checkbox-inner,
  .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: #b49f55;
  }
}
.checkbox-2C1E8B {
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #2c1e8b;
    border-color: #2c1e8b;
  }
  .ant-checkbox-checked::after {
    border: 1px solid #2c1e8b;
  }
  .ant-checkbox-wrapper:hover .ant-checkbox-inner,
  .ant-checkbox:hover .ant-checkbox-inner,
  .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: #2c1e8b;
  }
}
.checkbox-590121 {
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #590121;
    border-color: #590121;
  }
  .ant-checkbox-checked::after {
    border: 1px solid #590121;
  }
  .ant-checkbox-wrapper:hover .ant-checkbox-inner,
  .ant-checkbox:hover .ant-checkbox-inner,
  .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: #590121;
  }
}
.checkbox-481EDA {
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #481eda;
    border-color: #481eda;
  }
  .ant-checkbox-checked::after {
    border: 1px solid #481eda;
  }
  .ant-checkbox-wrapper:hover .ant-checkbox-inner,
  .ant-checkbox:hover .ant-checkbox-inner,
  .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: #481eda;
  }
}
.checkbox-009574 {
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #009574;
    border-color: #009574;
  }
  .ant-checkbox-checked::after {
    border: 1px solid #009574;
  }
  .ant-checkbox-wrapper:hover .ant-checkbox-inner,
  .ant-checkbox:hover .ant-checkbox-inner,
  .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: #009574;
  }
}
.checkbox-84791E {
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #84791e;
    border-color: #84791e;
  }
  .ant-checkbox-checked::after {
    border: 1px solid #84791e;
  }
  .ant-checkbox-wrapper:hover .ant-checkbox-inner,
  .ant-checkbox:hover .ant-checkbox-inner,
  .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: #84791e;
  }
}
.checkbox-67429A {
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #67429a;
    border-color: #67429a;
  }
  .ant-checkbox-checked::after {
    border: 1px solid #67429a;
  }
  .ant-checkbox-wrapper:hover .ant-checkbox-inner,
  .ant-checkbox:hover .ant-checkbox-inner,
  .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: #67429a;
  }
}
.checkbox-EC054E {
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #ec054e;
    border-color: #ec054e;
  }
  .ant-checkbox-checked::after {
    border: 1px solid #ec054e;
  }
  .ant-checkbox-wrapper:hover .ant-checkbox-inner,
  .ant-checkbox:hover .ant-checkbox-inner,
  .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: #ec054e;
  }
}
.checkbox-DF880F {
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #df880f;
    border-color: #df880f;
  }
  .ant-checkbox-checked::after {
    border: 1px solid #df880f;
  }
  .ant-checkbox-wrapper:hover .ant-checkbox-inner,
  .ant-checkbox:hover .ant-checkbox-inner,
  .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: #df880f;
  }
}
.checkbox-C021DD {
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #c021dd;
    border-color: #c021dd;
  }
  .ant-checkbox-checked::after {
    border: 1px solid #c021dd;
  }
  .ant-checkbox-wrapper:hover .ant-checkbox-inner,
  .ant-checkbox:hover .ant-checkbox-inner,
  .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: #c021dd;
  }
}
.checkbox-2771F7 {
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #2771f7;
    border-color: #2771f7;
  }
  .ant-checkbox-checked::after {
    border: 1px solid #2771f7;
  }
  .ant-checkbox-wrapper:hover .ant-checkbox-inner,
  .ant-checkbox:hover .ant-checkbox-inner,
  .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: #2771f7;
  }
}
.checkbox-2C9065 {
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #2c9065;
    border-color: #2c9065;
  }
  .ant-checkbox-checked::after {
    border: 1px solid #2c9065;
  }
  .ant-checkbox-wrapper:hover .ant-checkbox-inner,
  .ant-checkbox:hover .ant-checkbox-inner,
  .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: #2c9065;
  }
}
.checkbox-15503E {
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #15503e;
    border-color: #15503e;
  }
  .ant-checkbox-checked::after {
    border: 1px solid #15503e;
  }
  .ant-checkbox-wrapper:hover .ant-checkbox-inner,
  .ant-checkbox:hover .ant-checkbox-inner,
  .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: #15503e;
  }
}
.checkbox-F027C7 {
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #f027c7;
    border-color: #f027c7;
  }
  .ant-checkbox-checked::after {
    border: 1px solid #f027c7;
  }
  .ant-checkbox-wrapper:hover .ant-checkbox-inner,
  .ant-checkbox:hover .ant-checkbox-inner,
  .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: #f027c7;
  }
}
.checkbox-8E5E2B {
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #8e5e2b;
    border-color: #8e5e2b;
  }
  .ant-checkbox-checked::after {
    border: 1px solid #8e5e2b;
  }
  .ant-checkbox-wrapper:hover .ant-checkbox-inner,
  .ant-checkbox:hover .ant-checkbox-inner,
  .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: #8e5e2b;
  }
}
.checkbox-711F68 {
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #711f68;
    border-color: #711f68;
  }
  .ant-checkbox-checked::after {
    border: 1px solid #711f68;
  }
  .ant-checkbox-wrapper:hover .ant-checkbox-inner,
  .ant-checkbox:hover .ant-checkbox-inner,
  .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: #711f68;
  }
}
.checkbox-853E01 {
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #853e01;
    border-color: #853e01;
  }
  .ant-checkbox-checked::after {
    border: 1px solid #853e01;
  }
  .ant-checkbox-wrapper:hover .ant-checkbox-inner,
  .ant-checkbox:hover .ant-checkbox-inner,
  .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: #853e01;
  }
}
.checkbox-4A41A9 {
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #4a41a9;
    border-color: #4a41a9;
  }
  .ant-checkbox-checked::after {
    border: 1px solid #4a41a9;
  }
  .ant-checkbox-wrapper:hover .ant-checkbox-inner,
  .ant-checkbox:hover .ant-checkbox-inner,
  .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: #4a41a9;
  }
}
.checkbox-C6605C {
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #c6605c;
    border-color: #c6605c;
  }
  .ant-checkbox-checked::after {
    border: 1px solid #c6605c;
  }
  .ant-checkbox-wrapper:hover .ant-checkbox-inner,
  .ant-checkbox:hover .ant-checkbox-inner,
  .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: #c6605c;
  }
}
.checkbox-1A95FF {
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #1a95ff;
    border-color: #1a95ff;
  }
  .ant-checkbox-checked::after {
    border: 1px solid #1a95ff;
  }
  .ant-checkbox-wrapper:hover .ant-checkbox-inner,
  .ant-checkbox:hover .ant-checkbox-inner,
  .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: #1a95ff;
  }
}
.checkbox-6C726C {
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #6c726c;
    border-color: #6c726c;
  }
  .ant-checkbox-checked::after {
    border: 1px solid #6c726c;
  }
  .ant-checkbox-wrapper:hover .ant-checkbox-inner,
  .ant-checkbox:hover .ant-checkbox-inner,
  .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: #6c726c;
  }
}
.checkbox-0CA87B {
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #0ca87b;
    border-color: #0ca87b;
  }
  .ant-checkbox-checked::after {
    border: 1px solid #0ca87b;
  }
  .ant-checkbox-wrapper:hover .ant-checkbox-inner,
  .ant-checkbox:hover .ant-checkbox-inner,
  .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: #0ca87b;
  }
}
.checkbox-873FAA {
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #873faa;
    border-color: #873faa;
  }
  .ant-checkbox-checked::after {
    border: 1px solid #873faa;
  }
  .ant-checkbox-wrapper:hover .ant-checkbox-inner,
  .ant-checkbox:hover .ant-checkbox-inner,
  .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: #873faa;
  }
}
.checkbox-CA4452 {
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #ca4452;
    border-color: #ca4452;
  }
  .ant-checkbox-checked::after {
    border: 1px solid #ca4452;
  }
  .ant-checkbox-wrapper:hover .ant-checkbox-inner,
  .ant-checkbox:hover .ant-checkbox-inner,
  .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: #ca4452;
  }
}
.checkbox-B57A38 {
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #b57a38;
    border-color: #b57a38;
  }
  .ant-checkbox-checked::after {
    border: 1px solid #b57a38;
  }
  .ant-checkbox-wrapper:hover .ant-checkbox-inner,
  .ant-checkbox:hover .ant-checkbox-inner,
  .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: #b57a38;
  }
}
.checkbox-6891C8 {
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #6891c8;
    border-color: #6891c8;
  }
  .ant-checkbox-checked::after {
    border: 1px solid #6891c8;
  }
  .ant-checkbox-wrapper:hover .ant-checkbox-inner,
  .ant-checkbox:hover .ant-checkbox-inner,
  .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: #6891c8;
  }
}
.checkbox-6E0644 {
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #6e0644;
    border-color: #6e0644;
  }
  .ant-checkbox-checked::after {
    border: 1px solid #6e0644;
  }
  .ant-checkbox-wrapper:hover .ant-checkbox-inner,
  .ant-checkbox:hover .ant-checkbox-inner,
  .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: #6e0644;
  }
}
.checkbox-2D4EA9 {
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #2d4ea9;
    border-color: #2d4ea9;
  }
  .ant-checkbox-checked::after {
    border: 1px solid #2d4ea9;
  }
  .ant-checkbox-wrapper:hover .ant-checkbox-inner,
  .ant-checkbox:hover .ant-checkbox-inner,
  .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: #2d4ea9;
  }
}
.checkbox-2DEAD3 {
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #2dead3;
    border-color: #2dead3;
  }
  .ant-checkbox-checked::after {
    border: 1px solid #2dead3;
  }
  .ant-checkbox-wrapper:hover .ant-checkbox-inner,
  .ant-checkbox:hover .ant-checkbox-inner,
  .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: #2dead3;
  }
}
.checkbox-7FC981 {
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #7fc981;
    border-color: #7fc981;
  }
  .ant-checkbox-checked::after {
    border: 1px solid #7fc981;
  }
  .ant-checkbox-wrapper:hover .ant-checkbox-inner,
  .ant-checkbox:hover .ant-checkbox-inner,
  .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: #7fc981;
  }
}
.checkbox-8F5BB3 {
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #8f5bb3;
    border-color: #8f5bb3;
  }
  .ant-checkbox-checked::after {
    border: 1px solid #8f5bb3;
  }
  .ant-checkbox-wrapper:hover .ant-checkbox-inner,
  .ant-checkbox:hover .ant-checkbox-inner,
  .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: #8f5bb3;
  }
}
.checkbox-E453BF {
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #e453bf;
    border-color: #e453bf;
  }
  .ant-checkbox-checked::after {
    border: 1px solid #e453bf;
  }
  .ant-checkbox-wrapper:hover .ant-checkbox-inner,
  .ant-checkbox:hover .ant-checkbox-inner,
  .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: #e453bf;
  }
}
.checkbox-463138 {
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #463138;
    border-color: #463138;
  }
  .ant-checkbox-checked::after {
    border: 1px solid #463138;
  }
  .ant-checkbox-wrapper:hover .ant-checkbox-inner,
  .ant-checkbox:hover .ant-checkbox-inner,
  .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: #463138;
  }
}
.checkbox-0E5E73 {
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #0e5e73;
    border-color: #0e5e73;
  }
  .ant-checkbox-checked::after {
    border: 1px solid #0e5e73;
  }
  .ant-checkbox-wrapper:hover .ant-checkbox-inner,
  .ant-checkbox:hover .ant-checkbox-inner,
  .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: #0e5e73;
  }
}
.checkbox-5A7FDE {
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #5a7fde;
    border-color: #5a7fde;
  }
  .ant-checkbox-checked::after {
    border: 1px solid #5a7fde;
  }
  .ant-checkbox-wrapper:hover .ant-checkbox-inner,
  .ant-checkbox:hover .ant-checkbox-inner,
  .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: #5a7fde;
  }
}
.checkbox-505B09 {
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #505b09;
    border-color: #505b09;
  }
  .ant-checkbox-checked::after {
    border: 1px solid #505b09;
  }
  .ant-checkbox-wrapper:hover .ant-checkbox-inner,
  .ant-checkbox:hover .ant-checkbox-inner,
  .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: #505b09;
  }
}
.checkbox-42D1D1 {
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #42d1d1;
    border-color: #42d1d1;
  }
  .ant-checkbox-checked::after {
    border: 1px solid #42d1d1;
  }
  .ant-checkbox-wrapper:hover .ant-checkbox-inner,
  .ant-checkbox:hover .ant-checkbox-inner,
  .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: #42d1d1;
  }
}
.checkbox-645807 {
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #645807;
    border-color: #645807;
  }
  .ant-checkbox-checked::after {
    border: 1px solid #645807;
  }
  .ant-checkbox-wrapper:hover .ant-checkbox-inner,
  .ant-checkbox:hover .ant-checkbox-inner,
  .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: #645807;
  }
}
.checkbox-A06BB1 {
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #a06bb1;
    border-color: #a06bb1;
  }
  .ant-checkbox-checked::after {
    border: 1px solid #a06bb1;
  }
  .ant-checkbox-wrapper:hover .ant-checkbox-inner,
  .ant-checkbox:hover .ant-checkbox-inner,
  .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: #a06bb1;
  }
}
.checkbox-A12683 {
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #a12683;
    border-color: #a12683;
  }
  .ant-checkbox-checked::after {
    border: 1px solid #a12683;
  }
  .ant-checkbox-wrapper:hover .ant-checkbox-inner,
  .ant-checkbox:hover .ant-checkbox-inner,
  .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: #a12683;
  }
}
.checkbox-BC79E4 {
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #bc79e4;
    border-color: #bc79e4;
  }
  .ant-checkbox-checked::after {
    border: 1px solid #bc79e4;
  }
  .ant-checkbox-wrapper:hover .ant-checkbox-inner,
  .ant-checkbox:hover .ant-checkbox-inner,
  .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: #bc79e4;
  }
}
.checkbox-EA0628 {
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #ea0628;
    border-color: #ea0628;
  }
  .ant-checkbox-checked::after {
    border: 1px solid #ea0628;
  }
  .ant-checkbox-wrapper:hover .ant-checkbox-inner,
  .ant-checkbox:hover .ant-checkbox-inner,
  .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: #ea0628;
  }
}
.checkbox-F998AC {
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #f998ac;
    border-color: #f998ac;
  }
  .ant-checkbox-checked::after {
    border: 1px solid #f998ac;
  }
  .ant-checkbox-wrapper:hover .ant-checkbox-inner,
  .ant-checkbox:hover .ant-checkbox-inner,
  .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: #f998ac;
  }
}
.checkbox-2776DB {
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #2776db;
    border-color: #2776db;
  }
  .ant-checkbox-checked::after {
    border: 1px solid #2776db;
  }
  .ant-checkbox-wrapper:hover .ant-checkbox-inner,
  .ant-checkbox:hover .ant-checkbox-inner,
  .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: #2776db;
  }
}
.checkbox-14D679 {
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #14d679;
    border-color: #14d679;
  }
  .ant-checkbox-checked::after {
    border: 1px solid #14d679;
  }
  .ant-checkbox-wrapper:hover .ant-checkbox-inner,
  .ant-checkbox:hover .ant-checkbox-inner,
  .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: #14d679;
  }
}
.checkbox-9BB712 {
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #9bb712;
    border-color: #9bb712;
  }
  .ant-checkbox-checked::after {
    border: 1px solid #9bb712;
  }
  .ant-checkbox-wrapper:hover .ant-checkbox-inner,
  .ant-checkbox:hover .ant-checkbox-inner,
  .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: #9bb712;
  }
}
.checkbox-A24F91 {
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #a24f91;
    border-color: #a24f91;
  }
  .ant-checkbox-checked::after {
    border: 1px solid #a24f91;
  }
  .ant-checkbox-wrapper:hover .ant-checkbox-inner,
  .ant-checkbox:hover .ant-checkbox-inner,
  .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: #a24f91;
  }
}
.checkbox-84090D {
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #84090d;
    border-color: #84090d;
  }
  .ant-checkbox-checked::after {
    border: 1px solid #84090d;
  }
  .ant-checkbox-wrapper:hover .ant-checkbox-inner,
  .ant-checkbox:hover .ant-checkbox-inner,
  .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: #84090d;
  }
}
.checkbox-D1B711 {
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #d1b711;
    border-color: #d1b711;
  }
  .ant-checkbox-checked::after {
    border: 1px solid #d1b711;
  }
  .ant-checkbox-wrapper:hover .ant-checkbox-inner,
  .ant-checkbox:hover .ant-checkbox-inner,
  .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: #d1b711;
  }
}
.checkbox-AABCDF {
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #aabcdf;
    border-color: #aabcdf;
  }
  .ant-checkbox-checked::after {
    border: 1px solid #aabcdf;
  }
  .ant-checkbox-wrapper:hover .ant-checkbox-inner,
  .ant-checkbox:hover .ant-checkbox-inner,
  .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: #aabcdf;
  }
}
.checkbox-810359 {
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #810359;
    border-color: #810359;
  }
  .ant-checkbox-checked::after {
    border: 1px solid #810359;
  }
  .ant-checkbox-wrapper:hover .ant-checkbox-inner,
  .ant-checkbox:hover .ant-checkbox-inner,
  .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: #810359;
  }
}
.checkbox-72A59D {
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #72a59d;
    border-color: #72a59d;
  }
  .ant-checkbox-checked::after {
    border: 1px solid #72a59d;
  }
  .ant-checkbox-wrapper:hover .ant-checkbox-inner,
  .ant-checkbox:hover .ant-checkbox-inner,
  .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: #72a59d;
  }
}
.checkbox-10F64C {
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #10f64c;
    border-color: #10f64c;
  }
  .ant-checkbox-checked::after {
    border: 1px solid #10f64c;
  }
  .ant-checkbox-wrapper:hover .ant-checkbox-inner,
  .ant-checkbox:hover .ant-checkbox-inner,
  .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: #10f64c;
  }
}
.checkbox-C1944A {
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #c1944a;
    border-color: #c1944a;
  }
  .ant-checkbox-checked::after {
    border: 1px solid #c1944a;
  }
  .ant-checkbox-wrapper:hover .ant-checkbox-inner,
  .ant-checkbox:hover .ant-checkbox-inner,
  .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: #c1944a;
  }
}
.checkbox-A48AE0 {
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #a48ae0;
    border-color: #a48ae0;
  }
  .ant-checkbox-checked::after {
    border: 1px solid #a48ae0;
  }
  .ant-checkbox-wrapper:hover .ant-checkbox-inner,
  .ant-checkbox:hover .ant-checkbox-inner,
  .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: #a48ae0;
  }
}
.checkbox-D3554D {
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #d3554d;
    border-color: #d3554d;
  }
  .ant-checkbox-checked::after {
    border: 1px solid #d3554d;
  }
  .ant-checkbox-wrapper:hover .ant-checkbox-inner,
  .ant-checkbox:hover .ant-checkbox-inner,
  .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: #d3554d;
  }
}
.checkbox-E2A26D {
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #e2a26d;
    border-color: #e2a26d;
  }
  .ant-checkbox-checked::after {
    border: 1px solid #e2a26d;
  }
  .ant-checkbox-wrapper:hover .ant-checkbox-inner,
  .ant-checkbox:hover .ant-checkbox-inner,
  .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: #e2a26d;
  }
}
.checkbox-9AD59D {
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #9ad59d;
    border-color: #9ad59d;
  }
  .ant-checkbox-checked::after {
    border: 1px solid #9ad59d;
  }
  .ant-checkbox-wrapper:hover .ant-checkbox-inner,
  .ant-checkbox:hover .ant-checkbox-inner,
  .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: #9ad59d;
  }
}
.checkbox-CB9B9B {
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #cb9b9b;
    border-color: #cb9b9b;
  }
  .ant-checkbox-checked::after {
    border: 1px solid #cb9b9b;
  }
  .ant-checkbox-wrapper:hover .ant-checkbox-inner,
  .ant-checkbox:hover .ant-checkbox-inner,
  .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: #cb9b9b;
  }
}
.checkbox-F9A618 {
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #f9a618;
    border-color: #f9a618;
  }
  .ant-checkbox-checked::after {
    border: 1px solid #f9a618;
  }
  .ant-checkbox-wrapper:hover .ant-checkbox-inner,
  .ant-checkbox:hover .ant-checkbox-inner,
  .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: #f9a618;
  }
}
.checkbox-98D2C9 {
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #98d2c9;
    border-color: #98d2c9;
  }
  .ant-checkbox-checked::after {
    border: 1px solid #98d2c9;
  }
  .ant-checkbox-wrapper:hover .ant-checkbox-inner,
  .ant-checkbox:hover .ant-checkbox-inner,
  .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: #98d2c9;
  }
}
.checkbox-FFA4E6 {
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #ffa4e6;
    border-color: #ffa4e6;
  }
  .ant-checkbox-checked::after {
    border: 1px solid #ffa4e6;
  }
  .ant-checkbox-wrapper:hover .ant-checkbox-inner,
  .ant-checkbox:hover .ant-checkbox-inner,
  .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: #ffa4e6;
  }
}
.checkbox-86CAE9 {
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #86cae9;
    border-color: #86cae9;
  }
  .ant-checkbox-checked::after {
    border: 1px solid #86cae9;
  }
  .ant-checkbox-wrapper:hover .ant-checkbox-inner,
  .ant-checkbox:hover .ant-checkbox-inner,
  .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: #86cae9;
  }
}
.checkbox-9DD918 {
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #9dd918;
    border-color: #9dd918;
  }
  .ant-checkbox-checked::after {
    border: 1px solid #9dd918;
  }
  .ant-checkbox-wrapper:hover .ant-checkbox-inner,
  .ant-checkbox:hover .ant-checkbox-inner,
  .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: #9dd918;
  }
}
.checkbox-D4D045 {
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #d4d045;
    border-color: #d4d045;
  }
  .ant-checkbox-checked::after {
    border: 1px solid #d4d045;
  }
  .ant-checkbox-wrapper:hover .ant-checkbox-inner,
  .ant-checkbox:hover .ant-checkbox-inner,
  .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: #d4d045;
  }
}

.main-canvas.Draws .unavailable-draws,
.main-canvas.Draws .unavailable-draws span {
  color: var(--app-9b9bad);
  font-size: 15px;
}

.main-canvas.Draws {
  margin: 10px 20px 0 !important;
}

.white-bg-timeline {
  background-color: var(--app-white);
}

.draggable-wrap.draw-data-table {
  overflow-x: auto;
  overflow-y: auto;
  position: relative;
}

.box-draws {
  position: relative;
  top: 0;
  cursor: move;
  border-radius: 5px;
  text-align: center;
  color: var(--app-white);
  font-size: 13px;
  font-family: 'Inter-Medium';
  line-height: initial;
  display: flex;
  justify-content: center !important;
}

.box-draws span {
  font-size: 11px;
  letter-spacing: normal;
  padding: 5px;
  margin: auto;
  align-self: center;
  text-align: left;
}

.draws-x-head-text {
  flex-shrink: 0;
  display: inline-block;
  height: 40px;
  color: var(--app-9b9bad);
  font-size: 13px;
  font-family: 'Inter-Medium';
  text-align: center;
}

.draws-x-head {
  position: relative;
  margin: 0 30px;
}

.flex-col {
  flex-basis: 0;
  flex-grow: 1;
  min-width: 0;
  max-width: 100%;
}
.bg-grey {
  background-color: #444;
}
.f-13 {
  font-size: 13px;
}
