@import '../../themes/colorVariables.css';

.home-dash-right-text {
  display: flex;
  align-content: flex-start;
  text-align: center;
  color: var(--app-color);
  padding-bottom: 8px;
  font-weight: 500;
  font-family: inter-medium, sans-serif;
}

.text-right {
  display: flex;
  justify-content: flex-end;
}

.home-dash-left-text {
  font-family: inter, sans-serif;
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.09;
  letter-spacing: normal;
  text-align: left;
  color: var(--app-4c4c6d);
}

.text-view {
  padding-top: 3%;
  padding-bottom: 14px;
  display: flex;
  align-content: center;
}

.home-table-view {
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(27, 27, 52, 0.06);
  background-color: var(--app-white);
  overflow: hidden;
}

.home-inbox-table {
  .ant-table-thead,
  .ant-table-tbody {
    > tr.ant-table-row-hover:not(.ant-table-expanded-row):not(.ant-table-row-selected) > td {
      background: var(--app-f1c2a2);
    }
  }

  .ant-table-thead,
  .ant-table-tbody {
    > tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected) > td {
      background: var(--app-f1c2a2);
    }
  }

  .ant-table-thead > tr > th {
    /* border-bottom: 0; */
    font-weight: 500;
    font-family: inter-medium, sans-serif;
    font-size: 13px;
    /* padding: 7px 7px; */
    overflow-wrap: break-word;
    color: var(--app-9b9bad);
    padding-left: 21px;
    height: 48px;
  }

  .ant-table-tbody > tr > td {
    /* border-bottom: 10px; */
    /* padding: 20px 15px; */
    overflow-wrap: break-word;
    color: var(--app-4c4c6d);
    font-family: inter, sans-serif;
    /* background-color: red; */
    padding: 30px 24px;
    height: 64px;
  }
}

.event-time-table {
  /* background-color: yellowgreen; */
  border-right: 2px solid var(--app-color);
}

.event-time-start-text {
  font-size: 20px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  font-family: 'inter-medium', sans-serif;
  color: var(--app-color);
}

.event-time-end-text {
  color: var(--app-77778f);
  padding-top: 5px;
}

.event-desc-head {
  color: var(--app-1b1b34);
  font-family: inter-medium, sans-serif;
}

.inbox-name-text {
  font-weight: 500;
  text-align: left;
  font-family: inter-medium, sans-serif;
  color: var(--app-4c4c6d);
}

.inbox-time-text {
  text-align: right;
  color: var(--app-9b9bad);
}

.home-dash-white-box-view {
  margin: auto;
  background-color: white;
  border-radius: 10px;
  /* margin-top: 12%; */
  padding: 40px 25px;

  &:hover .view-more-btn {
    background-image: var(--app-gradient-top);
    color: var(--app-white) !important;
  }
}

.home-dash-table-view {
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(27, 27, 52, 0.06);
  background-color: var(--app-white);
}

.participant-summary-table-overflow {
  overflow-x: scroll;
}

.home-dash-name-table-title {
  font-weight: 500;
  font-family: inter-medium, sans-serif;
  font-size: 13px;
  color: var(--app-color);
}

img.bg {
  animation: increase 60s linear 10ms infinite;
  -webkit-transition: all 2.2s ease-in-out;
  -moz-transition: all 2.2s ease-in-out;
  -ms-transition: all 2.2s ease-in-out;
  -o-transition: all 2.2s ease-in-out;
  transition: all 2.2s ease-in-out;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.action-box-pagination {
  padding-bottom: 0 !important;
}

.error-boundry-main-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.went-wrong-img {
  width: auto;
  height: 385px;
  object-fit: contain;
}

@media screen and (max-width: 1024px) {
  img.bg {
    left: 50%;
    margin-left: -512px;
  }

  .went-wrong-img {
    width: auto;
    height: 285px;
    object-fit: cover;
  }
}
