@import "../themes/colorVariables.css";

.legend-main-div{
    display: flex;
    /* flex-direction: row; */
    /* justify-content: center; */
    /* align-items: center; */
    /* white-space: initial; */
    /* word-wrap: break-word; */
    /* float: left; */
    clear: both; 
    padding-right: 15px;
    /* margin-left: 70px; */
    padding-left: 15px;
}

.legend-color-text-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: initial;
    word-wrap: break-word;
    height:40px ;
    width:190px;

}

.legend-color-div{
    height: 25px;
    width:25px;
    border-radius: 12.5px;
    white-space: initial;
    word-wrap: break-word
}

.legend-text{
    font-size: 13px;
    color: var(--app-4c4c6d);
    font-weight: 500;
    font-family: inter-medium;
    padding-left: 10px;
    white-space: nowrap;
    word-wrap: break-word;
}

.draws-legend-view{
       display: table;
       margin: 30px 50px 10px 50px;
       justify-content: center;
       float: left; 
}

.legend-text-div{
    text-overflow: ellipsis; 
overflow: hidden; 
white-space: nowrap;
padding-right: 10px;
}
.all-legend-main-div{
    /* flex-direction: row; */
    /* justify-content: center; */
    /* align-items: center; */
    /* white-space: initial; */
    /* word-wrap: break-word; */
    /* float: left; */
    clear: both; 
    padding-right: 15px;
    /* margin-left: 70px; */
    padding-left: 15px;
}