@import "../themes/colorVariables.css";
.dropzoneId {
    display: flex;
    width: 100px;
    height: 48px;
    justify-content: center !important;
}

.dragableId {
    display: flex;
    width: 100px;
    height: 48px;
    /* background-color: red; */
}

.draws-swappable-text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.fixtureDragableId{
    display: flex;
    width: 100px;
    height: 53px;
    justify-content: center !important;
}
.fixturteDropzoneId {
    display: flex;
    width: 100px;
    height: 53px;
    justify-content: center !important;
}

.quickCompetitionDropzoneId {
    display: flex;
    width: 64px;
    height: 40px;
    justify-content: center !important;
}

.quickCompetitionDragableId {
    display: flex;
    width: 64px;
    height: 40px;
    justify-content: center
    /* background-color: red; */
}

.wizard_div{
    padding: 10px;
    /* border-style: groove; */
    border: 1px;
    border-color: black;
    border-style: solid;
  

}

