@import "../../themes/colorVariables.css";

.multi-column-text-aligned{
    display: flex;
    flex-direction: column;
    justify-content: center;
    white-space: nowrap
}

.division-table-field-view{
    display: flex;
    align-items: center
}

.umpire-delete-image-view {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 3%;
    padding-left: 5%;
    cursor: pointer;
  }

  .umpire-form-view{
      min-width: 330px;
  }

  .single-checkbox-width{
    width: 38%;
  }

  .umpire-btn-width{
      min-width: 145px;
  }
  .ant-select-selection--multiple .ant-select-selection__rendered{
    width: 100%;
    min-width: 100%;
    overflow: hidden;
    padding-right: 8px;

  }
  .header-view.divisions {
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}
.comp .ant-select-selection.ant-select-selection--single {
    text-overflow: ellipsis;
    width: 100%;
    display: inline-block;
    padding-top: 4px;
}
.footer-view.umpire-space {
    padding: 10px 12.3% 5% 12.2%;
}

@media (max-width: 767px) {
    
    .input-width{
        min-width: fit-content
    }
    .single-checkbox-width{
        width: 44%;
    }
}

@media (max-width: 1024px) {
    
    .single-checkbox-width{
        min-width: 0px;
    }
}

